

.content {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 8fr 1fr;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
}


.hero {
    height: auto;
    max-height: 35vh;
    width: 100%;
    background-image: url("../images/glass.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    max-height: 65vh;
    display: grid;
    grid-template-rows: 1fr 35fr;
}

section{
    height: 100%;
}

.article {
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0;

}


.menu-nav {
    width: 100vw;
    max-height: 4vh;
}

.drink-card-menu {
    height: 100%;
    width: 100%;
    grid-column: 1/3;
}

.footer{
    height: auto;
}