
.content{
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    height: 100vh;
    width: 100vw;
}

header{
    z-index: 10;
}
.img{
    width: 100%;
    height: auto;
}

.tab-container{
    display: grid;
    grid-template-columns: 1fr 10fr;
}