

.content {
    display: grid;
    grid-template-rows: 1fr 35vw 14fr 1fr;
    height: 100vh;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
}

.header {
    height: 5vh;
}

.footer{height: 3vh;}

.hero {
    height: 35vw;
    width: 100%;
    background-image: url("../images/glass.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main{
    display: grid;
    grid-template-columns: 3fr 18fr;
}

.article {
    height:61vh;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap:0;

}

.card{
    width: 38vw;
    height: 15vh;
}

.menu-nav{
height: auto;
}

.drink-card-menu{
    height: 61vh;
    width: 85vw;
}




